body {
    font-family: Arial, sans-serif;
}

.chart-container {
    text-align: center;
}

.player-name {
    font-size: 14px;
    cursor: pointer;
}

#player-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#player-modal img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.chart-container img {
    max-width: 100%;
    height: auto;
    margin-top: 20px; /* Adjust the margin as needed */
}